:root{
    --gap: 1rem;
    --max-width: 100%;
    --columns: 1;
    --marg: 1rem;

    @media(min-width: 36rem){
        --gap: 2rem;
        --max-width: 34rem;
        --columns: 2;
        --marg: 2rem;
    }

    @media(min-width: 56rem){
        --gap: 2.8rem;
        --max-width: 46rem;
        --columns: 2;
        --marg: 4rem;
    }

    @media(min-width: 64rem){
        --gap: 4rem;
        --max-width: 62rem;
        --columns: 3;
        --marg: 8rem;
    }

    @media(min-width: 90rem){
        --max-width: 84rem;
    }
}

header .container{ margin: 0 auto }

footer {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 6px;
        width: 100%;
        background: $c-gradient;
    }

    text-align: center;
    font-size: 1rem;
    padding: var(--gap);
    margin: 0 auto;

    span {
        display: none;
        @media(min-width: 40rem) { display: initial }
    } 

    a {
        margin-left: 1rem;
        display: block;
        padding: .5rem 0;

        span { display: none }
        
        &:last-of-type { display: inline-block } 

        @media(min-width: 40rem) {
            display: inline-block;
            padding: 0;

            span { display: initial }
        }

        &:last-of-type {
            margin-left: 0;
        }
    }
    
}
section{
    margin-bottom: 3rem;
}


/** ids **/

#background-s{
    position: fixed;
    top: 0;
    right: -20vw;
    width: 200vw;
    height: auto;
    z-index: -1;
    opacity: .7;

    @media(min-width: 48rem){
        right: 0;
        width: 90vw;
    }
}

/** classes **/

.container{
    margin: 0 auto;
    position: relative;
    max-width: 1332px;
    padding: 0 1rem;
}


.flex-centered{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
}

.main-content {
    max-width: 80ch;
}

.content-inline{
    p,
    nav,
    nav ul{
        display: inline;
    }

    nav ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav li{
        display: inline-block;
        padding-right: .5rem;

        &:after{
            content: ",";
        }

        &:nth-last-child(2):after{
            content: " &";
        }

        &:last-child:after{
            content: ".";
        }
    }
}

.client-list{
    columns: var(--columns);
}

.title{
    font-size: 1.4em;
    &-span{
        font-size: 1.125rem;
        font-weight: 400;
        text-transform: uppercase;
        color: $c-orange;
        margin-bottom: .6rem;
    }

    @media(min-width: 24rem){
        font-size: 2.125rem;
    }
}

//Homepage


.metier{
    display: block;
    margin: 6rem auto;
    position: relative;
    &__div{
        margin-bottom: 3rem;

        h2.title span.title-span {
            display: block;
        }

        &:nth-child(2) {
            // display: flex;
            // flex-direction: column;
            // justify-content: space-around;
            & a {
                display: block;
                position: relative;
                margin: 0 auto;
                &:before{
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 40%);
                    top: 0;
                    opacity: .8;
                }
                &:hover{
                    transform: scale(1.05);
                }
            }
            
        }
    }
    &__img{
        margin: 0;
    }
    
    &__carttitle{
        position: absolute;
        bottom: 0;
        color: #fff;
        margin: 1rem;
        font-size: 1.4em;
        z-index: 1;

        span { display: block }
    }
    &__cartspan{
        font-size: 1rem;
        font-weight: 400;
    }
    @media(min-width: 24rem){
        &__div{
            
            &:nth-child(2){
                margin-bottom: 0;
                // display: flex;
                // flex-direction: row;
                // justify-content: space-around;
    
                & a{
                    margin-bottom: 0;
                    
                    &:nth-child(2) {
                        margin-top: 3rem;
                    }
                }
            }
        }
    }
    @media(min-width: 36rem){
        &__carttitle{
            font-size: 1.2em;
        }
        &__cartspan{
            font-size: 1.125rem;
        }
        &__div:nth-child(1){
            max-width: 64ch;
        }
    }
    @media(min-width: 64rem){
        display: flex;
        justify-content: space-between;
        margin: 12rem auto;
        padding-left: 3.8rem;
        &__div{
            padding-top: 2.2rem;
            width: calc(46% - 1.5rem);

            &:nth-child(2){
                width: calc(52% - 1.5rem);
                justify-content: space-between;
                 & a{
                    position: relative;
                }
            } 
            
        }
    }
    
}

.act{
    display: block;
    
    background-color: $c-gray-light;
    
    box-sizing: content-box;
    margin: -1rem;
    padding: 1rem;

    &__el{
        width: 100%;
        margin-bottom: 2rem;
        font-size: 1rem;
        
    }
    &__title{
        margin:  0;
        font-size: 1.125rem;
    }
    @media(min-width: 30rem){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__el{
            width: calc(50% - 1.5rem);
        }
    }
    @media(min-width: 1490px){
        margin: -2rem;
        padding: 2rem;
    }
    @media(min-width: 1530px){
        margin: -3rem;
        padding: 3rem;
    }
    
}

.clients{
    
    &__div{
        width: 100%;
        margin-bottom: 6rem;
        &--part{
            width: 100%;
            margin-top: 6rem;
            font-size: 1rem;
            h3{
                color: $c-purple-light;
                font-size: 1.125rem;
                margin-bottom: 0;
            }    
        }
    }

    @media(min-width: 36rem){
        &__div{
            width: 50%;
            padding-left: 3.8rem;
            &--part{
                width: 100%;
            }
        }
    }
}

//Contact

.contact{
    margin: 6rem auto;
    display: block;
    justify-content: space-between;

    &__el {
        background-color: $c-gray-light;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 3rem;
        position: relative;

        > .gatsby-image-wrapper {
            width: 100%
        }
        
    }

    &__info{
        padding: 1.5rem;
        width: 100%;
        background-color: rgba(245, 244, 244, 0.95);
        position: absolute;
        bottom: 0;
        z-index: 1;

        h2{
            font-size: 1.5rem;
        }
    }
    // &__img{
    //     object-fit: cover;
    //     object-position: bottom;
    //     width: 100%;
    //     margin: 0 auto;
        
    // }
    @media(min-width:26rem){
        &__el{
            display: flex;
            flex-direction: row-reverse;
        }
        &__img{
            width: 50%;
            margin: 0 ;
            height: 100%;
        }
        &__info{
            position: relative;
        }
    }
    @media(min-width:36rem){
        display: flex;
        &__el{
            flex-direction: column-reverse;
            width: 48%;
            margin-bottom: 0;
        }
        &__info{
            position: absolute;
            bottom: 0;
        }
        &__img{
            width: 100%;
        }
    }

    @media(min-width:56rem) {
        &__el {
            flex-direction: row-reverse;
            .gatsby-image-wrapper { width: 50% }
        }
        &__info {
            position: relative;
        }
    }
}

.team{
    position: relative;
    &__text{

        @media(min-width:56rem) {
            padding-left: 4rem;
        }
        
        & h2{
            width: 100%;
            max-width: 60ch;

            span { display: block }
        }
    }
    &__list {
        width: 100%;
        position: relative;
    }
    &__el{
        text-align: center;
        margin: 1rem auto;
        font-size: .9em;
        width: 100%;

        & div{
            display: flex;
            flex-direction: column;
            /*word-break: break-word;*/

            & a{
                color: $c-purple;
                text-decoration: underline ;
            }
        }
        &:first-child{
            grid-column: span 2;
            text-align: left;
            font-size: 1.125em;
            margin: 0;

            @media(min-width:56rem) {
                padding-left: 4rem;
            }
        }
        &:not(:first-child){
            align-self: flex-end;
        }
        
    }
    
    .gatsby-image-wrapper { border-radius: 50%;width: 175px;height: 175px;margin: 0 auto; }

    &__title{
        margin: 1rem 0;
    }
    @media(min-width: 24rem){
        &__list{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;
        }
    }
    @media(min-width: 40rem){
        &__list{
            grid-template-columns: repeat(3, 1fr);
        }

        &__el:nth-child(1) { grid-column: span 3 }

    }
    @media(min-width: 64rem){
        &__list{
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 3rem;
        }
        &__el:nth-child(1) { grid-column: span 2 }
        &__text{
        
            & h2{
                width: 60%;
                max-width: 60ch;
            }
        }
        &__el {
            font-size: 1rem;
        }
    }
    @media(min-width: 80rem){
        &__list{
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 4rem;
        }
        &__el{
            /*&:nth-child(5){
                grid-column-start: 2;
                
                
            }*/
        }
    }
}

//Metier

.blocks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 6rem;

    &__el {
        width: 100%;
        position: relative;
        margin: 0 0 1rem 0;
        max-width: 268px;
        height: 395px;
        
        // &::after {
        //     content: '';
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     opacity: .8;
        //     top: 0;
        //     left: 0;
        //     background: linear-gradient(26.33deg, #BF0000 0%, #FF4D00 51.97%, #FFBD00 100%);
        // }
    }

    &__title{
        position: absolute;
        bottom: 0;
        color: #fff;
        padding: 1rem;
        font-size: 1.4em;
        margin: 0;
        z-index: 1;
    }

    &__icon{
        width: 120px;
        position: absolute;
        top: 6rem;
        left: calc(50% - 60px);
        text-align: center;
        /*transform: translateX(-50%) translateY(-50%);*/
        z-index: 1;
    }

    .gatsby-image-wrapper {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media(min-width: 24rem){
        margin: 6rem 0;
        &__el{
            margin: 0 0 2rem 0;
        }
    }
    @media(min-width: 36rem){
        justify-content: space-between;
        &__el{
            width: calc(50% - 1.5rem)
        }
    }
    @media(min-width: 48rem){
        &__el{
            width: calc(25% - 1.5rem);
            &:nth-child(1){
                margin: 1rem 0 0 0;
            }
            &:nth-child(2){
                margin: 6rem 0 0 0;
            }
            &:nth-child(4){
                margin: 2rem 0 0 0;
            }
        }
    }
    @media(min-width: 64rem){
        &__title{
            font-size: 1.3em;
        }
    }
    @media(min-width: 72rem){
        &__title{
            font-size: 1.5rem;
        }
    }
}

//mentions légales

.mention{
    max-width: 64ch;
    margin: 3rem auto;
}


// Page metier
.page-metier, .page-contact {
    .post-content {
        font-size: 1.125rem;
        margin: 4rem auto 3rem;
        text-align: center;
        max-width: 44ch;

        @media screen and(min-width: 35rem) {
            font-size: 1.32rem;
            margin: 8rem auto 5rem;
        }
    }
}