.navbar {
  position: unset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  min-height: 4.75rem;
  z-index: 10;

  #brand {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: block;
    z-index: 10;

    img {
      max-width: 102px;
      width: 100%;
      height: auto;
    }
  }

  ul {
    /*position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;*/
    position: relative;
    width: 100%;
    display: none;
    flex-flow: column wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 4rem 1rem 3rem 1rem;
    order: 3;
    /*background-color: white;*/
  }

  li {
    margin: 0 7px 0 0;

    &:not(#brand) {
      margin: 0;
      width: 100%;

      & > a {
        padding: 1rem 0;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        position: relative;
        overflow: hidden;
        text-align: center;

        &::after {
          content: "";
          background: $c-gradient;
          height: 2px;
          display: block;
          transform: translateX(-200%);
          width: 100%;
          transition: all 0.2s ease-out;
        }

        &.current-page::after,
        &:hover::after {
          transform: translateX(0);
        }
      }
    }
  }

  &.navbar--active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: white;

    ul {
      display: flex;
    }
    li:not(#brand) {
      visibility: visible;
      display: block;

      a {
        display: block;
      }
    }

    button {
      & > i {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' data-prefix='far' data-icon='times' class='svg-inline--fa fa-times fa-w-10' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23312929' d='M207.6 256l107.7-107.7a16 16 0 000-22.6l-25-25a16 16 0 00-22.6 0L160 208.4 52.3 100.7a16 16 0 00-22.6 0l-25 25a16 16 0 000 22.6L112.4 256 4.7 363.7a16 16 0 000 22.6l25 25a16 16 0 0022.6 0L160 303.6l107.7 107.7a16 16 0 0022.6 0l25-25a16 16 0 000-22.6L207.6 256z'/%3E%3C/svg%3E");
      }
    }
  }

  #brand {
    order: 1;
    font-weight: 700;
  }

  button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.3rem;
    order: 2;

    border: none;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    z-index: 10;
    background: none;
    line-height: 1;
    color: $c-font-base;

    & > i {
      width: 25px;
      height: 25px;
      margin-right: 0.5rem;
      margin-top: -3px;
      display: inline-block;
      vertical-align: middle;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' data-prefix='far' data-icon='bars' class='svg-inline--fa fa-bars fa-w-14' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23312929' d='M436 124H12a12 12 0 01-12-12V80a12 12 0 0112-12h424a12 12 0 0112 12v32a12 12 0 01-12 12zm0 160H12a12 12 0 01-12-12v-32a12 12 0 0112-12h424a12 12 0 0112 12v32a12 12 0 01-12 12zm0 160H12a12 12 0 01-12-12v-32a12 12 0 0112-12h424a12 12 0 0112 12v32a12 12 0 01-12 12z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
    }
  }

  @media (min-width: 43.25rem) {
    margin: 0 auto;
    padding: 1rem 0;

    #brand {
      position: relative;
      top: 0;
      left: 0;
    }

    ul {
      position: relative;
      height: auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      position: relative;
      width: auto;
      transform: none;
      margin: 0;
      padding: 0;
      order: 2;
    }

    li:not(#brand) {
      visibility: visible;
      display: inline-block;
      background-color: transparent;
      padding: 0;
      width: initial;
      & a {
        padding: 0.7rem 1rem;
        font-size: 1rem;
      }
    }

    button {
      visibility: hidden;
      display: none;
    }

    &.navbar--active {
      position: relative;
      height: auto;
      min-height: unset;
      background-color: #fff;
    }
  }
  @media (min-width: 60rem) {
    ul {
      width: 70%;
    }
  }
  @media (min-width: 70rem) {
    ul {
      //width: 60%;
    }
    & li:not(#brand) a {
      font-size: 1.1rem;
      padding: 0.7rem 1rem;
    }
  }
  @media (min-width: 80rem) {
    ul {
      //width: 50%;
    }
  }
}
