@media print{
    :root{
        --gap: 1rem;
    }

    main:last-child {
        page-break-after: auto;
   }

    #background-s {
        display: none;
    }

    footer { display: none!important }

    .navbar li:not(#brand){
        display: none;
    }

    .navbar button{
        display: none;
    }

    main{
        min-height: auto;
    }

    section .inner{
        background-color: white;
    }

    h1, h2, h3, h4, h5, h6 { color: #222 }

    main, section, section .inner{
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

    .banner {
        height: auto!important;
        margin: 0 0 1rem!important;

        &__block {
            padding-left: 0!important;
            margin: 0!important;
            position: relative!important;
        }
    }

    .post-content {
        text-align: left!important;
        margin: 1rem 0!important;
    }

    #contact .contact {
        display: block!important;
        margin: 0!important;

        .contact__info {
            padding: 0!important;
        }
    }

    .contact__el {
        padding: 1rem!important;
        display: inline-block;
        width: 45%!important;
        .gatsby-image-wrapper { display: none!important }
    }

    .team__text {
        h2 {
            font-size: 1.4em!important;
        }
    }

    .team__el {
        display: inline-block;
        width: 30%!important;
        text-align: left!important;
        .gatsby-image-wrapper { display: none!important }

        &:first-child { width: 100% !important }
    }

    .team__list {
        display: block!important;
    }
}