@font-face {
    font-family: "Candara";
    src: url("../fonts/candara.woff") format("woff"),
            url("../fonts/candara.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

    @font-face {
    font-family: "Candara";
    src: url("../fonts/candarai.woff") format("woff"),
            url("../fonts/candarai.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

    @font-face {
    font-family: "Candara";
    src: url("../fonts/candarab.woff") format("woff"),
            url("../fonts/candarab.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

    @font-face {
    font-family: "Candara";
    src: url("../fonts/candaraz.woff") format("woff"),
            url("../fonts/candaraz.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
body{
    font: .9rem / 1.3 sans-serif;
    color: $c-font-base;
    font-family: "Candara", sans-serif;
    font-weight: 400;

    @media(min-width: 48rem) {
        font-size: 1.125rem;
    }

    @media(min-height: 40rem) {
        line-height: 1.5;
    }
}

h1, h2, h3, h4, h5, h6{
    line-height: 1.1;
    font-size: 1em;
    margin-bottom: 1em;
    font-weight: bold;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h1{
    font-size: 1.8em;

    @media(min-width: 64rem){
        font-size: 1.8em;
    }
}

h2{
    font-size: 1.1em;

    @media(min-width: 64rem){
        font-size: 1.5em;
    }
}

a{
    color: $c-font-base;
    display: inline-block;
    text-decoration: underline $c-gray;
    transition: all .2s;

    &:hover,
    &:active,
    &:focus{
        text-decoration: underline $c-font-base;
    }
}

section > p{
    max-width: 64ch;
}

.page-default {
    p {
        margin-bottom: 1rem;
    }

    ul {
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
}