$c-purple-light: hsl(311, 100, 66);

$c-blue-light: hsl(195, 100, 66);

$c-bluegreen-light: hsl(157, 90, 71);

$c-green-light: hsl(85, 100, 87);

$c-font-base: #312929;

$c-beige-base: hsl(86, 18, 95);
$c-beige-90: hsla(86, 18, 95, .9);

$c-purple: #731882;
$c-purple-dark: #49294F;
$c-purple-light: #75275F;
$c-gray-light: #F5F4F4;
$c-gray: #C2BFBF;
$c-orange-dark: #821D08;
$c-orange: #FF3300;
$c-orange-light: #ff5d00;
$c-gradient: linear-gradient(84.24deg, #6D1587 0%, #EA4C4C 100%);
