.banner{
  margin-top: 0;
  margin-bottom: 3rem;
  position: relative;
  display: flex;
  flex-flow: column wrap;

  &__block{
      background-color: $c-orange-light;
      padding: 1rem;
      color: #fff;
      max-width: 100%;
      z-index: 1;
      margin: 0;
      width: 100%;
      position: relative;
      order: 2;

        > h1 { margin-bottom: 0; }
        > p { margin: 2.5rem 0 2rem;}
  }

  .gatsby-image-wrapper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 40vh;
    order: 1;

    picture img {
      object-position: center top !important;
    }
  }

  &--smaller {
    .gatsby-image-wrapper {
      height: 10rem;
      min-height: unset;
    }
  }

  @media(min-width: 64rem){
    display: block;

    &__block{
      position: absolute;
      left: 3.8rem;
      bottom: -4.3rem;
      width: auto;
      max-width: 45rem;
      min-width: 30.31rem;
      padding: 3.3rem 4rem;

      > h1 { margin-bottom: 1rem; }
    }

    .gatsby-image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      min-height: unset;
    }
  }

  &--smaller {
      min-height: 10rem;
      margin-bottom: 6rem;
  }
}

.page-metier,
.page-contact,
.page-default{
  .banner{
    @media(min-width: 64rem){
      &__block{
        left: 2.625rem;
        bottom: -2.9rem;
      }
    }
  }
}