html {
  box-sizing: border-box;
}

* {
 &, &:before, &:after {
    box-sizing: inherit;
   }
}

.process-diagram {
    padding-bottom: 40px;
    position: relative;

    font-weight: 700;
    font-size: 1.125rem;

    &--heading {
        display: none;
        @media(min-width: 80rem) { display: flex }

        h2 {
            margin: 0 0 1rem;
            font-size: 1.25rem;
        }

        > *:first-child {
            padding-left: 2rem;
            width: 336px;
        }

        > *:nth-child(2) {
            width: calc(100% - 330px);
        }
    }

    > h2 {
        margin: 1rem 1rem 1rem 2rem;
        width: 100%;
        font-size: 1.3125rem;
        @media(min-width: 80rem) { display: none }
    }
 
    &:before {
        content: '';
        border-left: 1rem solid #f1e7f2;
        bottom: 2rem;
        left: 1rem;
        position: absolute;
        top: 0;
        z-index: -1;
    }
 
 &:after{
   background-color: #f1e7f2;
   clip-path: polygon(0 0, 100% 0, 50% 100%);
   content: "";
   height: 32px;
   left: .5rem;
   position: absolute;
   bottom: 0;
   width: 31px;
   z-index: -1;
 }
 
 ul{
   margin: 0;
   padding: 0;
   list-style-type: none;
 }
 
 div {
   padding: 1rem 1rem 1rem 3rem;
   position: relative;
   
   li {
     margin-bottom: 1em;
   }
 }
 
 div:first-of-type {
   color: #731882;
   font-size: 1.3125rem;
   line-height: 1.1;
 }
 
  div:not(:first-of-type) {
    position: relative;
    margin-bottom: 1rem;
    
    h2{
      color: #821d08;
      font-size: 1.3125rem;
      margin-top: 0;
      text-align: center;
    }

    &:before{
      background: linear-gradient(45deg, #bf0000, #ff4d00, #ffbd00);
      border-radius: .5rem;
      content: "";
      height: 100%;
      left: 0;
      opacity: .6;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }
 
 @media(min-width: 40rem){
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   
   div{
     margin-right: 1rem;
   }
   
   div:first-of-type {
     width: 100%;

     ul{
       columns: 2;
     }
   }
   
   div:not(:first-of-type){
     width: calc(50% - 1rem);
   }
 }
 
 @media(min-width: 80rem){
   align-items: stretch;
   justify-content: flex-end;
   padding-bottom: 0;
   padding-right: 12px;
   
   &:before,
   &:after{
     display: none;
   }
   
   div:first-of-type {
     ul{
       columns: 1;
     }
     
     li{
       padding-bottom: 28px;
       position: relative;
       
       &:before{
         border-bottom: 12px solid #f1e7f2;
         bottom: .5rem;
         content: "";
         left: 0;
         position: absolute;
         right: -32px;
         z-index: -1;
       }

       &:after{
         background-color: #f1e7f2;
         clip-path: polygon(0 0, 100% 50%, 0 100%);
         content: "";
         height: 28px;
         right: -48px;
         position: absolute;
         bottom: 0;
         width: 27px;
         z-index: -1;
       }
     }
   }
   
   div:first-of-type{
     left: 0;
     padding: 2rem;
     position: absolute;
     top: 0;
     
     span{
       display: block;
       max-width: 232px;
     }
   }
   
   div:not(:first-of-type){
     margin-right: 8px;
     padding: 2rem 1rem 4rem;
     width: calc(230px);
     
     h2{
       margin-bottom: 3rem;
     }
     
     li{
       font-size: 1.125rem;
       line-height: 1.1;
       margin-bottom: 2.4rem;
     }
   }
 }
}