
/* ------------ */
/* BLOCK COOKIE */
/* ------------ */
.react-cookie-law-dialog {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   z-index: 300000;
   background: #49294F;
   padding: 1rem;
   transition: .3s ease;
   font-family: 'Candara', sans-serif;
   cursor: pointer;
}

@media screen and (min-width: 640px) {
   .react-cookie-law-dialog {
      bottom: 1.5rem;
      left: 1.5rem;
      width: auto;
      padding: .5rem 1rem .5rem;
      border-radius: 0;
      min-width: 400px;
   }
}

#cookie-container.show-cookie .react-cookie-law-dialog {
   border-radius: 0;
   padding: 1rem;
   box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
   cursor: initial;
}

/* -- Container -- */
.react-cookie-law-container {
   color: #fff;
   font-size: 16px;
}

/* -- Policy Link -- */
.react-cookie-law-policy {
   display: block;
   color: #fff;
   font-size: 16px;
   margin: 1.5rem 0;
   text-align: center;
}

.react-cookie-law-policy:hover {
   color: #fff;
}

/* -- Message Link -- */
.react-cookie-law-msg {
   font-weight: 400;
}

/* -- Buttons -- */
@supports (display: flex) {
   .react-cookie-law-button-wrapper {
      display: flex;
      flex-direction: column;
   }

   @media screen and (min-width: 450px) {
      .react-cookie-law-button-wrapper {
         flex-direction: row;
      }
   }
}

.react-cookie-law-button-wrapper button {
   flex-basis: 50%;
   width: 100%;
   -webkit-appearance: none;
   background: transparent;
   color: #fff;
   font-family: 'Candara', sans-serif;
   border: 1px solid #fff;
   padding: .5rem;
   cursor: pointer;
   transition: .3s ease;
}

.react-cookie-law-button-wrapper button:first-child {
   margin-bottom: 1rem;
}

@media screen and (min-width: 450px) {
   .react-cookie-law-button-wrapper button:first-child {
      margin-right: 1rem;
      margin-bottom: 0;
   }
}

.react-cookie-law-button-wrapper button.react-cookie-law-accept-btn,
.react-cookie-law-button-wrapper button:hover {
   background: #fff;
   color: #49294F;
}

.react-cookie-law-button-wrapper button.react-cookie-law-accept-btn:hover {
   background: #49294F;
   color: #fff;
}

.react-cookie-law-button-wrapper button.react-cookie-law-accept-btn:hover span {
   text-decoration: none
}

/* -- CHECKBOX */
.react-cookie-law-select-pane {
   margin-top: 1rem;
}

.react-cookie-law-option-wrapper + .react-cookie-law-option-wrapper {
   margin-top: .5rem
}

.react-cookie-law-option-wrapper input[type="checkbox"] {
   margin-right: .5rem;
   -webkit-appearance: none;
   background-color: #fff;
   width: 27px;
   height: 26px;
   background-size: 90% auto;
   background-position: center;
   background-repeat: no-repeat;
   border-radius: 3px;
   vertical-align: middle;
   transition: .3s ease;
   cursor: pointer;
   outline: none;
}

.react-cookie-law-option-wrapper input[type="checkbox"]:disabled:checked {
   cursor: not-allowed;
   opacity: .5;
}

.react-cookie-law-option-wrapper input[type="checkbox"]:checked {
   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' data-prefix='far' data-icon='check' class='svg-inline--fa fa-check fa-w-16' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='currentColor' d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z'/%3E%3C/svg%3E");
}

#cookie-container:not(.show-cookie) .react-cookie-law-select-pane,
#cookie-container:not(.show-cookie) .react-cookie-law-policy,
#cookie-container:not(.show-cookie) .react-cookie-law-button-wrapper {
   display: none
}