.card-link {
   position: relative;
   display: block;
   height: auto;
   width: 100%;
   max-width: 268px;
   height: 396px;
   overflow: hidden;
   /*padding-top: 100%;*/
   margin: 0;

   @media screen and (min-width: 45rem) {
      /*padding-top: 125%;*/
   }

   .gatsby-image-wrapper {
      position: absolute !important;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
   }
}

.card-link--grid {
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 1rem;

   @media screen and (min-width: 35rem) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3rem;
   }
}